@{
    bool isLoggedIn = Session["UserId"] != null;
    string username = Session["Username"]?.ToString();
}

@if (isLoggedIn)
{
    <li class="nav-item">
        <span class="nav-link text-white">Welcome, @username</span>
    </li>
    <li class="nav-item">
        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link btn btn-danger text-white" })
    </li>
}
else
{
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link btn btn-primary text-white" })
    </li>
}
