@model NBA_ManagementSystem.Models.Team


@{
    ViewBag.Title = "Create New";
}

<h2>Create New </h2>

<p>The form to create is under construction. Please check back later.</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

