@model NBA_ManagementSystem.Models.Team


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p>The Delete form is under construction. Please check back later for updates. </p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
