html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


body {
    background-color: #f0f2f5;
}

.navbar {
    background-color: #1e3d59 !important;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

    .nav-link:hover {
        color: #ffd700 !important;
    }

footer {
    background-color: #1e3d59;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}


.list-group-item {
    background-color: #f8f9fa;
    color: #333;
}

    .list-group-item:hover {
        background-color: #1e3d59;
        color: #fff;
    }

#search-history, #autocomplete-results {
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
}
