


@{
    ViewBag.Title = "Home";
}

<h2 class="text-primary">Welcome to the NBA Management System</h2>

<p class="lead">Your one stop place for Team & Player Management.</p>


<div class="row">
    <div class="col-md-8">
        <h3>Latest NBA News</h3>
        <ul class="list-group">
            <li class="list-group-item">LeBron James announces retirement after 21 seasons!</li>
            <li class="list-group-item">Golden State Warriors secure their playoff spot with a clutch win!</li>
            <li class="list-group-item">Trade rumors: Damian Lillard to join the Miami Heat?</li>
            <li class="list-group-item">NBA suspends Draymond Green for 3 games after altercation.</li>
            <li class="list-group-item">Victor Wembanyama wins Rookie of the Year award!</li>
        </ul>

        <hr>

        <h3>Upcoming Matches</h3>
        <ul class="list-group">
            <li class="list-group-item">Lakers vs. Warriors - March 10, 2024</li>
            <li class="list-group-item">Celtics vs. Heat - March 12, 2024</li>
            <li class="list-group-item">Bucks vs. Nets - March 14, 2024</li>
            <li class="list-group-item">Suns vs. Mavericks - March 15, 2024</li>
            <li class="list-group-item">76ers vs. Nuggets - March 16, 2024</li>
        </ul>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Team Standings</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Team</th>
                        <th>Wins</th>
                        <th>Losses</th>
                    </tr>
                    <tr>
                        <td>Los Angeles Lakers</td>
                        <td>38</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Golden State Warriors</td>
                        <td>35</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Boston Celtics</td>
                        <td>41</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>Miami Heat</td>
                        <td>32</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Denver Nuggets</td>
                        <td>40</td>
                        <td>20</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

